<div id="posts_show_wrapper" class="skinny_wrapper">
  <div class="post_informatique">
    <p class="date"><%= @project.created_at.strftime("%e %b %Y %H:%M:%S") %></p>
    <h1><%= @project.title %></h1>
    <hr>
  </div>

  <div id="content">
    <%= markdown @project.description %>
      <div class="button_wrapper">
        <a href="<%= @project.link %>" class="project_button" target="_blank">Visitez <%= @project.title %></a>
      </div>
  </div>
</div>

<% if user_signed_in? %>
  <div id="admin_links">
    <%= link_to "Editer le projet", edit_project_path(@project) %>
    <%= link_to "Supprimer le projet", project_path(@project), method: :delete, data: {confirm: "Es-tu sur?"} %>
  </div>
  <% end %>
<hr>
