<!DOCTYPE html>
<html>
  <head>
    <title>Tony's Blog &amp; portfolio</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main_navigation" class="clearfix">
        <a href="#" class="name">Blog &amp; portfolio</a>
        <nav>
            <%= link_to "Articles", posts_path %>
            <a href="#">Projects</a>
            <a href="contact.html">Contacts</a>
        </nav>
    </header>

    <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
