<!DOCTYPE html>
<html>
  <head>
    <title>Tony's Blog &amp; portfolio</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header id="main_navigation" class="clearfix">
      <%= link_to "Tony Boucheau", root_path, class: "name" %>
      <nav>
        <%= link_to "Articles", posts_path %>
        <%= link_to "Projets", projects_path %>
        <%= link_to "Contact", new_contact_path %>
	      <% if user_signed_in? %>
		      <%= link_to "Se deconnecter", destroy_user_session_path, method: :delete %>
	      <% end %>
      </nav>
    </header>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>

    <footer id="main_footer">
      <p class="copyright">&copy; Tony BOUCHEAU</p>
      <nav>
        <a href="https://twitter.com/tonyboucheau" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/tboucheau/" target="_blank"><i class="fa fa-github"></i></a>
        <a href="https://www.facebook.com/tony.boucheau" target="_blank"><i class="fa fa-facebook"></i></a>
      </nav>
    </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
